[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/jaffco/libDaisy
[submodule "wasm-micro-runtime"]
	path = wasm-micro-runtime
	url = https://github.com/jaffco/wasm-micro-runtime
[submodule "wasm-module/Phhhsrrr"]
	path = wasm-module/Phhhsrrr
	url = https://github.com/jaffco/Phhhsrrr
